{%  extends "./polls.html" %}

{% load staticfiles %}


{% block content %}
    <h3>Practical task</h3>
    <p>Web application. SPA is a one-page application. 2 tabs, static page + news. Backend to flask / Django. FLask / Django returns json. The 2nd method returns the text in JSON. "</p>

    <h3>Practical task 02.07</h3>
    <p>Simple FLask application, roll up a page with 2 contributions, see bootstrap.</p>
    <hr style="opacity:0">
<div class="image-wrap image-flex" >
          <img src={% static "media/cat2" %} width="500" height="330">
</div>
    <hr style="opacity:0">
        <h3>What is ready</h3>
    <p>A project on django was created, a form and templates were created, which are substituted into this form with the corresponding request. A site is created using Bootstrap</p>

    <h3>What to do</h3>
    <p>Deal with handling json files in json. Learn the basics of JavaScript to make the interface more interactive, to refine the search button.</p>
{% endblock %}