{%  extends "./polls.html" %}

{% load staticfiles %}


{% block content %}

    <h3>What is Bootstrap?</h3>

    <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation and other interface components. Bootstrap is the third-most-starred project on GitHub, with more than 131,000 stars, behind only freeCodeCamp (almost 300,000 stars) and marginally behind Vue.js framework. According to Alexa Rank, Bootstrap getbootstrap.com is in the top-2000 in US while vuejs.org is in top-7000 in US.</p>

    <h3>What is Django?</h3>

    <p>Django is a free and open source web application framework written in Python. A framework is nothing more than a collection of modules that make development easier. They are grouped together, and allow you to create applications or websites from an existing source, instead of from scratch.</p>

    <h3>What is PyCharm?</h3>

    <p>PyCharm is an integrated development environment (IDE) used in computer programming, specifically for the Python language. It is developed by the Czech company JetBrains. It provides code analysis, a graphical debugger, an integrated unit tester, integration with version control systems (VCSes), and supports web development with Django as well as Data Science with Anaconda.</p>
{% endblock %}